.instagramBtn {
  position: relative;
  transform: translateX(0);
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(0);
    opacity: 0;
  }

  to {
    transform: translateX(-124px);
    opacity: 1;
  }
}
